<nav>
    <a href="/">Back to Home</a>
</nav>

<h1>{{review.title}}</h1>
<h5>{{review.movieTitle}}</h5>
<p>{{review.description}}</p>
{{!-- edit button --}}
<p><a href="/reviews/{{review._id}}/edit">Edit</a></p>
<!-- Delete button -->
<p><form method="POST" action="/reviews/{{review._id}}?_method=DELETE">
    <button type="submit">Delete</button>
</form></p>

<style>
    nav {
        margin: 0 auto;
        padding: 20px;
        background-color: crimson;
    }

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: white;
    }
</style>
